:root{
--header:#ccb2a3;
--section-blu:#1b72e8
}

body{
  font-family: "Roboto", sans-serif;
}



/* Header  */
header{
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  color:var(--header);
}